<p id="notice"><%= notice %></p>
<div style="text-align:left;">
<%= link_to 'List all Articles', articles_path, title: 'View all Articles' %>
</div>
<h1>Creating a New Article</h1>

<%= render 'form' %>


