/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
// color variables
$font-dark: #000000;
$link-visited: #000000;
$dark-color: #002211;
$light-color: #33DD66;
$bright-color: #BBFFDD;
$even-color: #BBFFCC;
$odd-color: #E0FFE5;

// default everything
body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,a,div,table,tr,th,td,header,footer{
	font-family: "sans-serif";
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	color: $font-dark;
	border: none;
}

// headings
h1{
	font-size: 30px;
	padding: 5px;
}
h2{
	font-size: 25px;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}

// everything container
.container{
	position: relative;
	width: 800px;
	margin: 0px auto;
	
}

//header
header{
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

//footer
footer{
	display: block;
	width: 100%;
	float:left;
	padding-top: 1px;
	padding-bottom: 1px;
	
}

// header bar 
.headbar{
	display: block;
	width: 100%;
	
}

// side bar
.sidebar{
	display: inline;
	width: 200px;
	float:left;
	
}
// content
.content{
	display: inline;
	width: 580px;
	padding: 10px;
	float:left;
}
.contentCenter{
	display: block;
	//width: 700px;
	padding: 10px;
}

//links
a{
	text-decoration: underline;
	color:#009900;
}
a:link{
	color:#006600;
	background-color: transparent;
}
a:visited{
	color:#009900;
}
a:hover{
	color:#00CC00;
}
a:active{
	color:#009900;
}

.even{
	background: $even-color;
}
.odd{
	background: $odd-color;
}
// content tables
.tablelist{
	font-weight: bold;
	width: 100%;
	border-collapse: collapse;
	thead{
		background: $light-color;
	}
	thead th{
		color: $dark-color;
		td{
			color: $dark-color;
		}
		padding: 2px;
	}
	tfoot tr td{
		background: $light-color;
		color: $dark-color;
		text-align: right;
		padding: 2px;
	}
	tbody{
		background: $bright-color;
		tr td{
			padding-bottom: 1px;
		}

	}
}

// forms
.fieldtitle{
	width:20%;
	float:left;	
	text-align:right;
	padding-right:10px;
}
.fieldinput{
	width:75%;
	float:left;
	padding-left:2px;
	text-align:left;
	padding-bottom:2px;
}
.actions{
	width:100%;
	float:left;
	padding-top:5px;
	text-align:center;
}
