!!! 
%html
  %head
    %title
      Articles
      =yield :subtitle
    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    %div.container
      %header
        %div.title
          Articl.es
        %div.slogan
          =get_random_slogan
        %div.spacer
          =request.protocol + request.host + request.fullpath
      %div.main
        =yield
    %footer
    %div.spacer
    %div
      %ul
        %li
          =link_to image_tag('icons/arrow_turn_left.png'), '/articles', title: 'View All Articles'
        %li
          =link_to image_tag('icons/arrow_turn_right.png'), '/authors', title: 'View All Authors'

