<p id="notice"><%= notice %></p>
<div style="text-align:left;">
<%= link_to 'List all Articles', articles_path, title: 'View all Articles' %>
</div>
<div class="spacer"></div>
<h1>Editing "<%= truncate(@article.title, :length=>25, :omission=>'...')  %>"</h1>

<div class="spacer"></div>
<%= render 'form' %>

<!--%= link_to 'Show', @article %> |-->

