%p.notice
  =notice
%div{ :style => "text-align:left;" }
  =link_to 'List all Articles', articles_path, title: 'View all Articles'
%div.spacer
%h1
  Editing
  =truncate(@article.title, :length=>25, :omission=>'...')
%div.spacer

=render 'form'
